[submodule "components/lvgl/lvgl"]
    path = components/lvgl/lvgl
    url = https://github.com/lvgl/lvgl.git
[submodule "components/freetype/freetype"]
	path = components/freetype/freetype
	url = https://github.com/freetype/freetype.git
